body {
  flex-direction: column;
}

h1 {
  font-size: 22px;
  text-align: center;
  color: #034AA6;
  text-align: center;
  margin-top: 30px;
}

h2, p {
  font-size: 18px;
  text-align: center;
  padding: 20px 5px;
}

form {
  padding: 25px;
}

.registerUser {
  color: #F2811D;
  text-decoration: none;
}