body {
  flex-direction: column;
}

h1 {
  font-size: 22px;
  text-align: center;
  color: #034aa6;
  text-align: center;
  margin-top: 30px;
}

p {
  font-size: 18px;
  text-align: center;
}

.loginUser {
  color: #f2811d;
  text-decoration: none;
}
